*{
    box-sizing: border-box;
}


body{
    margin:0;
    padding:0;
    background:black;
    color:rgb(233, 233, 233);
    font-family:sans-serif;
}

nav{    
    background-color: #0C0032;
    padding:0.25%;
    padding-left:0.5%;
    padding-right:1%;
    position: fixed;
    top:0%;
    width: 100%;
    display: flex;
    align-items: center  ;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    



}


#exc{
    margin-left:0.75%;
    /* border: 1px solid white; */
    display:flex;
    width:50%;
    float:left;
    
}

#exc a{
    padding:0;

}

#notexc{
    align-items: center;
    margin-right:0.75%;
    /* border:1px solid white; */
    width:50%;
    display:flex;
    justify-content: space-between;

}


a{
    color:white;
    text-align: center;
    align-items: center;
    align-content:center;
    cursor: pointer;
    /* border: 1px solid white; */
    margin-left:23px;
}

nav a{
    padding: 4px;px;
    border: 1px solid transparent;
    transition: color 200ms;
     
}
nav a:hover{
    color: #865dff;
     
}
#navlogo{
    width:200px;
    margin:0px;
    
}

#exception{
    margin-left:-1.8%;
}

main{
    
    padding:1.5%;
    margin-top:75px;
}

.section p{
    line-height:1.4em;
    font-size:1.1em;
    letter-spacing: 1.02px;
    padding-right:50%;
}

.image{
    border-radius: 7px;
    width:50%;
    height:400px;
    object-fit: cover;
}

h2{
    font-size: 2em;
}

#mailer{
    margin-left:0
}